$color-light: #FFFFFF;
$color-primary: #5E58E3;
$color-placeholder: #8aa0a0;
$color-background: #F6F6F6;
$color-dark: #000000;
$color-text-dark: #333333;
$color-text-light: #a2a2a2;

$tablet-width: 768px;