.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  padding: 10px;
  row-gap: 10px;
  background: $color-primary;
  &_10 {
    max-width: 360px;
  }
  &_15 {
    max-width: 520px;
  }
  &_25 {
    max-width: 840px;
  }
}

.title {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.settings {
  width: 100%;
  padding: 5px;
}

.volume {
  width: 32px;
  height: 32px;
  &_mute {
    background: red;
  }
}

.status-game {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.amount {
  font-size: 3.2rem;
  color: $color-amount;
  background: $color-dark;
  line-height: 2.4rem;
}

.emoji {
  width: 32px;
  height: 32px;
  background-size: contain;
  border: none;
  outline: none;
  &:active {
    background-image: url(../assets/ico/active_emoji.svg);
  }
}

.happy {
  background-image: url(../assets/ico/happy_emoji.svg);
}

.sad {
  background-image: url(../assets/ico/sad_emoji.svg);
}

.win {
  background-image: url(../assets/ico/win_emoji.svg);
}

.playground {
  display: flex;
  flex-wrap: wrap;
  &_10 {
    max-width: 330px;
  }
  &_15 {
    max-width: 490px;
  }
  &_25 {
    max-width: 810px;
  }
}

.outer {
  border: outset 5px $color-background;
}

.inter {
  border: inset 5px $color-background;
}