.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  row-gap: 10px;
  background: $color-primary;
  &_10 {
    max-width: 360px;
  }
  &_15 {
    max-width: 520px;
  }
  &_25 {
    max-width: 840px;
  }
}

.title {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: 'MINE-SWEEPER';
}

.settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.quantity-mines {
  padding: 5px;
  font-family: 'MINE-SWEEPER';
  font-size: 0.8rem;
  min-width: 80px;
  color: $color-dark;
  &::placeholder {
    color: $color-dark;
  }
}

.size {
  padding: 5px;
  font-family: 'MINE-SWEEPER';
  font-size: 0.8rem;
}

.volume {
  width: 32px;
  height: 32px;
  background-image: url(../assets/ico/volume.svg);
  &_mute {
    background-image: url(../assets/ico/volume_mute.svg);
  }
  &:active {
    border: inset 4px $color-background;
  }
}

.status-game {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.amount {
  font-family: 'MINE-SWEEPER';
  font-weight: 400;
  font-size: 1.4rem;
  color: $color-amount;
  background: $color-dark;
  min-width: 60px;
  text-align: center;
  padding-left: 2px;
  // line-height: 2.4rem;
}

.emoji {
  width: 32px;
  height: 32px;
  background-size: contain;
  border: none;
  outline: none;
  &:active {
    background-image: url(../assets/ico/active_emoji.svg);
  }
}

.happy {
  background-image: url(../assets/ico/happy_emoji.svg);
}

.sad {
  background-image: url(../assets/ico/sad_emoji.svg);
}

.win {
  background-image: url(../assets/ico/win_emoji.svg);
}

.playground {
  display: flex;
  flex-wrap: wrap;
  &_10 {
    max-width: 330px;
  }
  &_15 {
    max-width: 490px;
  }
  &_25 {
    max-width: 810px;
  }
}

.score {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-family: 'MINE-SWEEPER';
  font-size: 1rem;
  font-weight: 700;
  >* {
    font-size: 0.8rem;
    font-weight: 400;
    list-style: none;
  }
}

.outer {
  border: outset 5px $color-background;
}

.inter {
  border: inset 5px $color-background;
}

button.outer {
  border: outset 4px $color-background;
}