.main {
  display: flex;
  position: relative;
  overflow: hidden;
}

.playground {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 20px 20px 20px;
  row-gap: 20px;
  align-items: center;
  background: $color-background;
}