.button {
  padding: 15px 45px;
  @include font(400, 1.7rem, 2.2rem, $color-link-hover);
  letter-spacing: 0.06em;
  background: $color-primary;
  border-radius: 100px;
  border-style: none;
  cursor: pointer;
  &_bordered {
    padding: 13px 43px;
    background: $color-light-intense;
    border: 2px solid $color-primary;
  }
}

.button__round {
  border: 2px solid $color-primary;
  border-radius: 100px;
  padding: 23px 19px;
  background-color: $color-light;
  cursor: pointer;
  &_arrow {
    display: block;
  }
  &_slider {
    background: $color-background;
  }
  &_right {
    transform: rotate(180deg);
  }
}