.cell {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-image: url(../assets/ico/closed.svg);
  background-size: contain;
  font-size: 0;
  &_one {
    color: $color-one;
  }
  &_two {
    color: $color-two;
  }
  &_three {
    color: $color-three;
  }
  &_four {
    color: $color-four;
  }
  &_five {
    color: $color-five;
  }
  &_six {
    color: $color-six;
  }
  &_seven {
    color: $color-seven;
  }
  &_eight {
    color: $color-eight;
  }
  &_mine.cell_show {
    background-image: url(../assets/ico/mine.svg);
    background-size: contain;
  }
  &_mine.cell_show.exp {
    background-image: url(../assets/ico/mine_exp.svg);
    background-size: contain;
  }
  &_open {
    background-image: url(../assets/ico/empty.svg);
  }
  &_show {
    font-size: 2.4rem;
    background-image: url(../assets/ico/empty.svg);
  }
}