* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @extend %font-main;
  color: $color-light;
  background: $color-dark;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  @include font(700, 1.6rem, 100%, $color-light);
}