.info {
  padding: 10px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__level {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}