.interection {
  width: 80%;
  height: 50%;
  display: flex;
  margin-top: 20px;
  border: solid 10px $color-background-dark;
  border-radius: 5px;

  &__editor {
    flex-basis: 50%;
    background: white;
  }

  &__viewer {
    flex-basis: 50%;
    background: black;
  }
}