.editor {
  flex-basis: 50%;
  @include background-opacity(0.95, $color-light);
}

.viewer {
  flex-basis: 50%;
  @include background-opacity(0.7);
}

.interection {
  width: 95%;
  display: flex;
  border: solid 10px $color-background-dark;
  border-radius: 5px;
  @include color-opacity(0.4);
  &__header {
    background: $color-background;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, 0.05);
  }
  &__title {
    @include color-opacity(0.6);
  }
}

.container {
  display: flex;
  font-size: 1.4rem;
  &__numbers {
    text-align: end;
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, 0.05);
    &_editor {
      @include color-opacity(0.5, $color-dark);
      @include background-opacity(0.1, $color-dark);
    }
  }
  &__field {
    width: 100%;
    border: solid 1px rgba(255, 255, 255, 0.05);
  }
}