.levels {
  position: absolute;
  transform: translateY(500px);
  &__title {
    padding: 10px;
  }
}

.level {
  display: flex;
  padding: 5px 10px;
  font-size: 1.8rem;
  font-weight: 800;
  cursor: pointer;
  column-gap: 5px;
  &:hover {
    background: $color-background;
  }
}