.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %items;
  @extend %transition;
  background: $color-light;
  border-radius: 70% 30% 64% 36% / 33% 70% 30% 67%;
  border-bottom: solid 5px $color-border-light;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 70% 30% 65% 35% / 35% 70% 30% 65%;
    border-top: solid 6px $color-border-dark;
    opacity: 0.4;
    background: $color-light;
  }
}

#dark {
  background: $color-bento-graphite;
  border-bottom: solid 5px $color-opacity-graphite;

  &:before {
    border-top: solid 6px $color-dark;
    background: $color-bento-graphite;
  }
}