@font-face {
  font-family:'Arial';
  src: url('../../../../assets/fonts/arial/Arial Bold.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Bold.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Arial';
  src: url('../../../../assets/fonts/arial/Arial Bold Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Bold Italic.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Arial';
  src: url('../../../../assets/fonts/arial/Arial Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Italic.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Arial';
  src: url('../../../../assets/fonts/arial/Arial.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Arial Black';
  src: url('../../../../assets/fonts/arial/Arial Black.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Black.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Arial Narrow';
  src: url('../../../../assets/fonts/arial/Arial Narrow.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Narrow.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Narrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family:'Arial Narrow';
  src: url('../../../../assets/fonts/arial/Arial Narrow Bold.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Narrow Bold.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Narrow Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family:'Arial Narrow';
  src: url('../../../../assets/fonts/arial/Arial Narrow Bold Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Narrow Bold Italic.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Narrow Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family:'Arial Narrow';
  src: url('../../../../assets/fonts/arial/Arial Narrow Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/arial/Arial Narrow Italic.woff') format('woff'),
  url('../../../../assets/fonts/arial/Arial Narrow Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family:'Georgia';
  src: url('../../../../assets/fonts/georgia/Georgia Bold.woff2') format('woff2'),
  url('../../../../assets/fonts/georgia/Georgia Bold.woff') format('woff'),
  url('../../../../assets/fonts/georgia/Georgia Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Georgia';
  src: url('../../../../assets/fonts/georgia/Georgia Bold Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/georgia/Georgia Bold Italic.woff') format('woff'),
  url('../../../../assets/fonts/georgia/Georgia Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Georgia';
  src: url('../../../../assets/fonts/georgia/Georgia Italic.woff2') format('woff2'),
  url('../../../../assets/fonts/georgia/Georgia Italic.woff') format('woff'),
  url('../../../../assets/fonts/georgia/Georgia Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'Georgia';
  src: url('../../../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
  url('../../../../assets/fonts/georgia/Georgia.woff') format('woff'),
  url('../../../../assets/fonts/georgia/Georgia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}