%transition {
  transition: all 0.3s ease-in-out;
}

%font-first {
  font-family: 'Georgia';
}

%font-second {
  font-family: 'Arial', sans-serif ;
}

%hamburger-line {
  position: absolute;
  display: inline-block;
  background-color: $color-primary;
  height: 2px;
  width: 100%;
}
