.nav-item {
  &__link {
    @include font(400, 1.5rem, 2.4rem, $color-text-title);
  }
  &__link:hover {
    color: $color-light-intense;
  }
}

.nav-item_active {
  position: relative;
  .nav-item__link {
    color: $color-link-hover;
  }
}