.footer {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background: $color-primary;
  font-size: 1.2rem;
  color: $color-light;
  &__git-hub {
    width: 42px;
    height: 42px;
    &_link {
      display: block;
      background: url('../assets/img/icons/github_with_title.svg');

    }
  }
  &__rss {
    width: 81px;
    height: 30px;
    @include media-mobile {
      width: 121px;
      height: 45px;
    }
    &_link {
      display: block;
      background: url('../assets/img/icons/rs_logo.svg');
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  @include media-mobile {
    font-size: 2.0rem;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__info {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  .copyright {
    text-align: center;
    &_link {
      transition: ease-in-out 0.3s;
      &:visited {
        color: $color-light;
      }
      &:hover {
        color: $color-text-light;
      }
      &:before {
        content: '©';
      }
    }
  }
  @include media-mobile {
    column-gap: 20px;
    flex-direction: row;
  }
}