.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: $color-primary;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
  max-width: 230px;
  &__image {
    width: 42px;
    height: 42px;
  }
}
