.main {
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  gap: 10px;
  @include media-tablet {
    flex-direction: row;
  }
}

.aside {
  flex-basis: 100%;
  order: 0;
  text-align: center;
  @include media-tablet {
    flex-basis: 30%;
    order: 1;
  }
}

.section {
  flex-basis: 100%;
  @include media-tablet {
    flex-basis: 70%;
  }
}
