* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  color:$color-dark;
  background: $color-background;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2rem;
  color: $color-primary
}

h2 {
  line-height: 1.7rem;
  font-size: 1.7rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}