* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @extend %font-main;
}

h1 {
  @include font(400, 3.4rem, 100%, $color-light);
  @include color-opacity(0.3);
  margin-top: 15px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
  @include color-opacity(0.6);
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.selected {
  @extend %move;
}

.tooltip {
  display: none;
}

.hovered > .tooltip {
  display: block;
  position: absolute;
  width: max-content;
  top: -60px;
  left: -60px;
  padding: 5px 10px;
  font-size: 1.6rem;
  background: $color-light;
  border-bottom: solid 3px $color-opacity-dark;
  color: $color-background;
  box-shadow: 10px 5px 5px $color-opacity-dark;
}