* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @extend %font-main;
}

h1 {
  @include font(400, 3.4rem, 100%, $color-light);
  @include color-opacity(0.3);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
  @include color-opacity(0.6);
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}