.bento {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %items;
  @extend %transition;
  background: $color-bento-light;
  border: double 3px $color-bento-dark;
  border-width: 20px 2px;
  border-radius: 50% 20% / 10% 40%;

  &:before {
    content: "";
    position: absolute;
    width: calc(100%);
    top: 0;
    left: 0;
    border: solid 10px $color-opacity-dark;
    border-width: 10px 0 0 0px;
  }

}