@font-face {
  font-family:'Exo 2';
  src: url('../assets/fonts/Exo 2 Regular.eot');
  src: url('../assets/fonts/Exo 2 Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Exo 2 Regular.woff2') format('woff2'),
  url('../assets/fonts/Exo 2 Regular.woff') format('woff'),
  url('../assets/fonts/Exo 2 Regular.svg#Exo 2 Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2039;
}

@font-face {
  font-family:'Menlo';
  src: url('../assets/fonts/Menlo Regular.eot');
src: url('../assets/fonts/Menlo Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Menlo Regular.woff2') format('woff2'),
  url('../assets/fonts/Menlo Regular.woff') format('woff'),
  url('../assets/fonts/Menlo Regular.svg#Menlo Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}