.plate {
  @extend %items;
  @extend %transition;
  background: $color-light;
  border-radius: 100px;
  border-bottom: solid 5px $color-border-light;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px $color-border-dark;
    opacity: .4;
    background: $color-light;
  }
}