.plate {
  @extend %items;
  @extend %transition;
  background: $color-light;
  border-radius: 100px;
  border-bottom: solid 5px $color-border-light;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px $color-border-dark;
    opacity: 0.4;
    background: $color-light;
  }
}

#fancy:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 44px);
  height: 68px;
  width: 74px;
  border-radius: 60px;
  border: solid 10px $color-fancy;
  opacity: 0.4;
}