.track {
  display: grid;
  row-gap: 5px;
  border-bottom: dashed 2px $color-light;
  &__settings {
    display: flex;
    column-gap: 5px;
  }
  &__race {
    display: flex;
    column-gap: 10px;
    height: 50px;
  }
  &__progress {
    position: relative;
    flex-grow: 1;
    &::after {
      content: '';
      width: 60px;
      height: 30px;
      position: absolute;
      right: 80px;
      bottom: 0px;
      background: url('./../assets/ico/flag.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__car-name {
    font-size: 1.4rem;
  }
  &__car {
    display: block;
    position: relative;
    height: 50px;
    width: 70px;
    -webkit-mask-image: url(./../assets/ico/car.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url(./../assets/ico/car.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.engine-control {
  &__buttons {
    min-width: 0;
  }
}