.garage {
  background: $color-dark;
  width: 100%;
  &__title {
    margin: 30px 0 10px 0;
  }
}

.setup {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.control {
  display: flex;
  column-gap: 10px;
}