$color-light: #FFFFFF;
$color-dark: #000000;
$color-border-light: #DDDDDD;
$color-border-dark: #CCCCCC;
$color-gray: #999999;
$color-opacity-light: rgba(255, 255, 255, 0.4);
$color-opacity-dark: rgba(0, 0, 0, 0.1);
$color-bento-light: #E7DDDD;
$color-bento-dark: #77605D;
$color-bento-graphite: #434343;
$color-opacity-graphite: rgba(0, 0, 0, 0.4);
$color-egg: #FF0000;
$color-egg-dark: #A30000;
$color-pear: #D7C322;
$color-pear-dark: #B5A100;
$color-lemon: #FFF73C;
$color-lemon-dark: #CCC22A;
$color-table: #FFA500;
$color-table-side: #B73200;
$color-table-legs: #Bd7A00;
$color-background: #2E2A23;
$color-background-dark: #1B1813;
$color-check: #9acd32;
$color-help: #aba700;