$color-light: #FFFFFF;
$color-border-light: #DDDDDD;
$color-border-dark: #CCCCCC;
$color-opacity-light: rgba(255, 255, 255, 0.4);
$color-opacity-dark: rgba(0, 0, 0, 0.1);
$color-bento-light: #e7dddd;
$color-bento-dark: #77605d;
$color-egg: #ff0000;
$color-egg-dark: #a30000;
$color-lemon: #fff73c;
$color-lemon-dark: #ccc22a;
$color-fancy: #6f00f2;