$color-light: #FFFFFF;
$color-border-light: #DDDDDD;
$color-border-dark: #CCCCCC;
$color-opacity-light: rgba(255, 255, 255, 0.4);
$color-opacity-dark: rgba(0, 0, 0, 0.1);
$color-brown-light: #a52a2a;
$color-brown-dark: #711c12;
$color-egg: #ff0000;
$color-egg-dark: #a30000;
$color-fancy: #6f00f2;