@mixin color-opacity($opacity: 0.1, $color: #FFFFFF,) {
  color: rgba($color, $opacity);
}

@mixin background-opacity($opacity: 0.1, $color: $color-background-dark,) {
  background: rgba($color, $opacity);
}

@mixin font ($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}