%transition {
  transition: transform ease-out 0.2s;
}

%pulsing {
  animation: pulsing .5s infinite;
  @keyframes pulsing {
    0% {
      background: inherit;
    }
    100% {
      @include background-opacity(0.3, #3ecbff)
    }
  }
}

%font-main {
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
}

%font-second {
  font-family: 'Menlo', monospace;
}

%items {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
  box-shadow: 0px 8px 0px $color-opacity-dark;

  &:hover {
    box-shadow: 0 0 0 6px $color-opacity-light;
  }
}