%transition {
  transition: transform ease-out 0.2s;
}

%pulsing {
  animation: pulsing .5s infinite;
  @keyframes pulsing {
    0% {
      background: inherit;
    }
    100% {
      @include background-opacity(0.3, #3ecbff)
    }
  }
}

%shake {
  animation: shake .1s 5;
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(5px);
    }
  }
}

%move {
  animation: moveStart .5s ease-out, moveEnd 1s infinite;
  @keyframes moveStart {
    0% {
      transform: skew(0deg,0deg) scaleY(1);
      animation-timing-function: ease-in;
    }
    
    40% {
      transform: skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% {
      transform: skew(4deg,0deg) scaleX(1);
    }
  }
  @keyframes moveEnd {
    0% {
      transform: skew(4deg,0deg) scaleX(1);
    }
    10% {
      transform: skew(1deg,0deg) scaleY(.9);
    }
    50% {
     transform: skew(-4deg,0deg) scaleX(1);
    }
    60% {
      transform: skew(-1deg,0deg) scaleY(.9);
    }
    100% {
      transform: skew(4deg,0deg) scaleX(1);
    }
  }
}

%font-main {
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
}

%font-second {
  font-family: 'Space Mono', monospace;
}

%items {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
  box-shadow: 0px 8px 0px $color-opacity-dark;

  &:hover {
    box-shadow: 0 0 0 6px $color-opacity-light;
  }
}