$color-light: #FFFFFF;
$color-amount: #ff0000;
$color-primary: #c6c6c6;
$color-placeholder: #8aa0a0;
$color-background: #F6F6F6;
$color-background-dark: #67AABE;
$color-dark: #000000;
$color-contrast: #0397c4;

$color-one: #0000ff;
$color-two: #008000;
$color-three: #ff0000;
$color-four: #000080;
$color-five: #800000;
$color-six: #008080;
$color-seven: #000000;
$color-eight: #808080;

$laptop-width: 1200px;