.about__container {
  padding: 80px 175px 100px;
}

.about__content {
  align-self: flex-start;
  max-width: 430px;
  margin-top: 14px;
  display: grid;
  row-gap: 25px;
}

.about__title {
  max-width: 370px;
}