.donation {
  background: $color-background;
  &__container {
    max-width: 915px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
    @include media-tablet-m {
      padding: 42px 0 42.83px 0;
    }
  }
}

.donation__image {
  flex-basis: 57%;
  max-width: 505px;
  @include media-laptop-l {
    order: 2;
    flex-basis: 100%;
    margin-top: 60px;
  }
  @include media-tablet-m {
    margin-top: 42px;
    padding: 0 20px;
  }
}

.donation__content {
  flex-basis: 43%;
  max-width: 380px;
  @include flex($align: flex-start, $direction: column);
  row-gap: 20px;
  @include media-laptop-l {
    flex-basis: 100%;
    margin: 0 164px;
    max-width: 915px;
  }
  @include media-tablet-m {
    margin: 0 auto;
    align-items: center;
    .donation__title {
      text-align: center;
    }
    .donation__text {
      padding: 0 10px;
      text-align: center;
    }
  }
  @include media-mobile-l {
    margin: 0 auto;
    align-items: center;
    .donation__title {
      @include font(400, 2.5rem, 3.2rem, $color-text-title);
    }
    .donation__subtitle {
      letter-spacing: 0;
      @include font(400, 1.5rem, 2.4rem, $color-text-title);
    }
  }
  @include media-mobile-m {
    .donation__text {
      letter-spacing: 0;
      text-align: justify;  
    }
  }
}

.donation-card {
  @include flex();
  padding: 10px 15px;
  background: $color-primary;
  border-radius: 9px;
  @extend %transition;
  &__image {
    margin-right: 15px;
  }
  &:hover {
    cursor: pointer;
    background: $color-primary-light;
  }
  &__number {
    @include media-mobile-l {
      @include font(400, 1.5rem, 1.7rem, $color-text-title);
    }
  }
}