.nav__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;

  &__link {
    text-decoration: none;
    @extend %font-second;
    @include font(400, 1.5rem, 2.4rem, $color-link);
  }
}

.nav-item_active {
  position: relative;
  &::after {
    content: '';
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background: $color-primary;
  }
  .nav-item__link {
    color: $color-light-intense;;
  }
}
