.our-friends {
  background: $color-background;
}

.our-friends__container {
  @include flex ($direction: column);
  padding: 80px 0 100px;
}

.our-friends__slider {
  @include flex ();
  margin: 60px 0;
  width: 100%;
}

.slider__cards {
  flex-grow: 1;
  padding: 0 53px;
}

.our-friends__title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding-bottom: 30px;
  background: $color-light-intense;
  border-radius: 9px;
  &__title {
    padding: 30px 0;
  }
}